{% extends "base.html"%}

{% block script %}
<script>
    const gameId = "{{ game_id }}";
    const playerId = "{{ player_id }}";

    const chatSocket = new WebSocket(
        (window.location.protocol === 'https:' ? 'wss://' : 'ws://')
        + window.location.host
        + '/ws/game/'
        + gameId
        + '/player/'
        + playerId
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data);
        // document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    chatSocket.onopen = function(e) {
        chatSocket.send('{"_type": "request_refresh"}')
    }
</script>
{% endblock%}
