{% extends "base.html"%}

{% block content %}


<p><a href="/game/">New game</a> | <a href="/game/?multi">New game (multi)</a></p>
{% verbatim %}
<div id="app">
  <h2>{{ players.length }} players</h2>
  <ul>
    <li v-for="player in players">
      {{ player.name }}
    </li>
  </ul>

  <div v-if="status === 'GATH'">
    <p>Get players to join with: <a v-bind:href="'/game/' +  gameId + '/join'">this link</a></p>
    <button v-on:click="startGame()">Start the game</button>

    <p>Clicking this will prevent other players from joining.</p>
  </div>
  <div v-if="status === 'PLAY'">
    <component :is="component.type + '-component'" v-for="component in components" :key="component.id"
      :data="component.data" @click="click(component)" @input="input(component, $event)"></component>
  </div>
</div>
{% endverbatim %}

{% endblock %}
{% block script %}
<script src="https://unpkg.com/vue@next"></script>
<script>
  const gameId = "{{ game_id }}";
  const playerId = "{{ player_id }}";

  const app = Vue.createApp({
    name: 'MainApp',
    data() {
      return {
        gameId,
        status: 'GATH',
        players: ["loading..."],
        components: []
      }
    },
    methods: {
      startGame() {
        this.sendMessage({ "_type": "start_game" });
      },
      click(component) {
        if (component.behaviors.indexOf('click') !== -1) {
          this.sendMessage({ _type: "component_click", component: component.id })
        }
      },
      input(component, event) {
        if (component.behaviors.indexOf('input') !== -1) {
          this.sendMessage({ _type: "component_input", component: component.id, value: event.target.value })
        }
      }
    },
    mounted() {
      const self = this;
      const setupWebSocket = () => {
        const chatSocket = new WebSocket(
          (window.location.protocol === 'https:' ? 'wss://' : 'ws://')
          + window.location.host
          + '/ws/game/'
          + gameId
          + '/player/'
          + playerId
        );
        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          console.log(playerId, data)
          Object.keys(data).forEach(k => {
            self[k] = data[k];
          });
        };
        chatSocket.onclose = function (e) {
          console.error('Chat socket closed unexpectedly');
          setTimeout(setupWebSocket, 1000);
        };
        this.sendMessage = (obj) => {
          chatSocket.send(JSON.stringify(obj))
        }
      }
      setupWebSocket();
    },
    components: {
      'text-component': {
        name: 'Text',
        template: `<div v-html="data.content"></div>`,
        props: ['data'],
      },
      'button-component': {
        name: 'Button',
        template: `<input type="button" v-bind:value="data.content" />`,
        props: ['data'],
      },
      'lockbox-component': {
        name: 'Lockbox',
        template: `<input v-bind:type="data.type ? data.type : 'text'" v-model="data.value" v-bind:disabled="data.disabled" />`,
        props: ['data'],
      }
    }
  });

  app.mount('#app');
</script>
{% endblock%}
