{% extends "base.html"%}

{% block content %}


<p><a href="/game/">New game</a></p>
<p>Get players to join with: <a href="/game/{{ game_id }}/join">this link</a></p>
{% verbatim %}
<div id="app">
  <h2>{{ players.length }} players</h2>
  <ul>
    <li v-for="player in players">
      {{ player }}
    </li>
  </ul>

  <div v-if="status === 'GATH'">
    <button v-on:click="startGame()">Start the game</button>

    <p>Clicking this will prevent other players from joining.</p>
  </div>
  <div v-if="status === 'PLAY'">
    YOU'RE IN GAME
  </div>
  {{ status }}


</div>
{% endverbatim %}

{% endblock %}
{% block script %}
<script src="https://unpkg.com/vue@next"></script>
<script>
  const gameId = "{{ game_id }}";
  const playerId = "{{ player_id }}";

  const chatSocket = new WebSocket(
    (window.location.protocol === 'https:' ? 'wss://' : 'ws://')
    + window.location.host
    + '/ws/game/'
    + gameId
    + '/player/'
    + playerId
  );

  const sendMessage = (obj) => {
    chatSocket.send(JSON.stringify(obj))
  }

  const App = {
    data() {
      return {
        gameId,
        status: 'GATH',
        players: ["coucou"],
        components: []
      }
    },
    methods: {
      startGame() {
        sendMessage({ "_type": "start_game" });
      }
    },
    mounted() {
      const self = this;
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        Object.keys(data).forEach(k => {
          self[k] = data[k];
        });
      };
    }
  }

  Vue.createApp(App).mount('#app')



  chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
  };

</script>
{% endblock%}
